.side-collapse-container{
 width:100%;
 position:relative;
 left:0;
 transition:left .4s;
}
  .side-collapse-container.out{
  left:200px;
          }
.side-collapse {
  top:50px;
  bottom:0;
  left:0;
  width:200px;
  position:fixed;
  overflow:hidden;
  transition:width .4s;
}
.side-collapse.in {
 		width:0;
}
	#input-div #origin-input{
		width: 100%;
		display:block;
		margin: 0% 0%;
	}
	#input-div #destination-input{
		width: 100%;
		display: block;
		margin: 0% 0%;
	}
	#googleMap{
			margin: 10px 0;
			width:100%;
			height:14%;
			display:block;
		}
	#input-div{
		width: 100%;
		height: 9%;
	}
	#button1{
		display: block;
		height: 30px;
		width: 100%;
	}
	#directionsPanel{
		width:100%;
		height: 14%;
		margin: 0 0;
	}